attrs==20.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
commandbus==1.0.1
eventsourcing==9.0.1
Faker==6.5.0
idna==2.10
iniconfig==1.1.1
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.10.1
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
readerwriterlock==1.0.8
requests==2.25.1
six==1.15.0
text-unidecode==1.3
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
